.pp-settings-link-on {
  background: $default !important;
  color: #000 !important;

  .panel, .panel-footer {
    background: $default !important;
  }
}

.pp-settings-tab-on {
  border-bottom: 3px solid #3ed2f0;
}

.stretchHeightForm form {
  height: 100%;
}

.stretchHeightForm .panel {
  height: 100%;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}
