// Colors

$white: #fff !default;
$primary: #4277bb !default;
$primary-light: #2095f2 !default;
$secondary: #d3d3d3 !default;


// Fonts

$font-weight-bold: 700 !default;
$font-size-base: 16px !default;

